<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <h1>Members Only</h1>
    <% if(user) { %>
    <h2>Logged in as <%= user.username %></h2>
    <p>Name: <%= user.first_name %> <%= user.last_name %></p>
    <p>
      <% let status = ''; if(user.is_admin) { status = 'Admin'; } else if
      (user.is_member){ status = 'Member'; } else { status = 'Not a member'; }
      %> Status: <%= status %> %>
    </p>
    <a href="/logout">Log out</a>
    <a href="/new">Create a new message</a>
    <% if(!user.is_member) { %>
    <a href="/join">Become a member</a>
    <% } %> <% if(user.is_member && !user.is_admin) { %>
    <a href="/join">Become an admin</a>
    <% } %> <% } else { %>
    <a href="/sign-up">Sign up</a>
    <a href="/login">Login</a>
    <% } %>
    <ul>
      <% messages.forEach(message => { %>
      <li>
        <div><%= message.text %></div>
        <div><%= message.username %></div>
        <div><%= message.time_posted %></div>
        <% if(user && user.is_admin) { %>
        <a href="/delete/<%= message.id %>">Delete</a>
        <% } %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
